body{
    background: radial-gradient(circle at 10% 20%, rgb(178, 178, 212) 0%, rgb(253, 222, 249) 79.5%);
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  } 
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    width: 450px;
    border-radius: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
::placeholder {
        color:pink;
    }
.select {
        color: pink; /* Default text color for the select box */
    }
.option {
        color: pink; /* Change this color to your desired text color */
    }

.inputForm{
    border: 2px solid pink;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}
.input {
    margin-left: 12px;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    width: 85%;
    height: 100%;
    font-size: 15;
    color: pink;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid pink;
  }
.select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.select {
    height: 40px;
}
.button-submit {
    margin: 20px 0 10px 0;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    box-shadow: 0 0.rem #dfd9d9;
    cursor: pointer;
  }
  
     button:hover:not(:disabled) {
      background: lightcoral;
      color: white;
      text-shadow: 0 0.1rem #bcb4b4;
  }
     
     button:disabled {
      cursor: auto;
      color: pink;
  }
.flex-column > label {
    color:pink;
    font-style: bold;
    font-style: italic;
  }
.checkboxx{
  accent-color: pink;
}
.svg{
  fill: pink;
}
.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
